#contact{
    background-color: #555;
     color:#fff;
     padding-bottom: 0;
     height: 100vh;
}

#contact-body{
    padding: $m-size;
}
#contact-body h1{
    margin: 3.5rem 0 !important;
}
#contact-body h3{
    margin: $m-size 0; 
}

#footer{
    background-color: #222;
    padding: $m-size;
}