header{
    background-image: 
    linear-gradient(rgba(0, 0, 0, 0.7),rgba(0, 0, 0, 0.7)),
    url("https://cdn-images-1.medium.com/max/1600/1*zVDcaM6mqhi9m0LP_Sq4Ag.jpeg");
    background-size: cover;
    background-attachment: scroll;
    background-size: cover;
    background-position: center; 
    height: 100vh;
}

.header__textbox{
    position: absolute;
    width: 100%;
    top: 50%;
    left:50%;
    transform: translate(-50%);
    text-align: center;
}

.header__textbox h1,
.header__textbox h2{
    color:#fff;
    font-weight: 300;
} 
.header__textbox h1{
    font-size: 200%;
}
.header__textbox h2{
    font-size: 150%;
}